{% extends 'ServiceJFAdminBundle::layout.html.twig' %}

{% block body_subtitle %}
    modifier {{ user.surname }} {{ user.name }}
{% endblock %}

{% block body_content %}
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12 col-md-8 offset-md-4">
                {{ form_start(form) }}
                {{ form_row(form.surname, { 'label' : 'label.firstName'}) }}
                {{ form_row(form.name, { 'label' : 'label.lastName'}) }}
                {{ form_row(form.username, { 'label' : 'label.id'}) }}
                {{ form_row(form.email, { 'label' : 'label.email'}) }}
                {{ form_row(form.service, { 'label' : 'label.service'}) }}
                <div class="d-flex justify-content-center">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            {{ form_widget(form.manager, { 'attr' : { 'class' : 'form-check-input'}}) }} {{ 'label.manager'|trans }}
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        {{ form_widget(form.roles) }}
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-1">
                    {{ form_rest(form) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}