<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Service j&f: - {% block title %}{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/design.css') }}">
    {% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
            integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
            crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/EmailObfuscator.js') }}"></script>
</head>
<body>
{% block top_nav %}
    {{ render(controller('ServiceJFCoreBundle:Core:navigation')) }}
{% endblock %}
<div id="header">
    <div class="container">
        {% block header_padding %}
        <div class="py-md-6">{% endblock %}
            {% block header %}
                <div class="row py-3 text-md-left text-center align-items-center">
                    <div class="col-md-9 col-sm-12 d-flex flex-column">
                        <h1 class="text-light">{% block body_title %}{% endblock %}</h1>
                        <div class="h2 subtitle">{% block body_subtitle %}{% endblock %}</div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        {% for key, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="alert alert-{{ key }} alert-dismissible fade show">
                                    {{ message|trans({}, 'FOSUserBundle') }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" class="ml-auto">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
<div id="body">
    {% block sub_nav %}
        <div class="sub-nav">
            <div class="container">
                <ul class="nav justify-content-end">
                    {% block sub_nav_content %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    {% endblock %}
    {% block body %} {% endblock %}
</div>
<div id="footer">
    <div class="container">
        <div class="row py-1 align-items-center mt-4">
            {% block footer_content %}
                <div class="col-md-11 col-sm-12">
                    <div class="text-footer">Pour toute idée ou suggestion, Clément ou Cédric se feront un plaisir de
                        vous
                        aider.
                    </div>
                </div>
                <div class="col-1 d-none d-md-block">
                    <img height="30px" src="{{ asset('assets/img/logosmall.png') }}" alt="logosmall"/>
                </div>
            {% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>