{% extends 'ServiceJFChallengeCM18Bundle::layout.html.twig' %}

{% block body_subtitle %}
    classement général
{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <table class="table table-responsive-md table-sm mt-2">
                <tbody>
                {% set PreviousScore = null %}
                {% set PreviousPerfect = null %}
                {% for player in players %}
                    <tr class="bg-primary text-light">
                        <td>{% if loop.index == 1 %}
                                {{ loop.index }}.
                            {% elseif PreviousScore == player.points and PreviousPerfect == player.perfect %}

                            {% else %}
                                {{ loop.index }}.
                            {% endif %}
                        </td>
                        <td>
                            {% if unregistered is defined %}
                                {{ player.identity.surname }} {{ player.identity.name }}
                                {% if player.finalBet is not null %}<small> ({{ player.finalBet.name }}){% else %} (pas de vainqueur final){% endif %}</small>
                            {% else %}
                            <a class="text-light"
                               href="{{ path('servicejf_cm18_rankingDetails', { 'player' : player.id }) }}">
                                {{ player.identity.surname }} {{ player.identity.name }}</a>{% if player.finalBet is not null %}<small> ({{ player.finalBet.name }}){% else %} (pas de vainqueur final){% endif %}</small>
                            {% endif %}
                        </td>
                        <td>{% transchoice player.perfect %}{0} 0 perfect|{1} 1 perfect|]1,Inf] %count% perfects{% endtranschoice %}</td>
                        <td>{% transchoice player.points %}{0} 0 point|{1} 1 point|]1,Inf] %count% points{% endtranschoice %}</td>
                    </tr>
                    {% set PreviousScore = player.points %}
                    {% set PreviousPerfect = player.perfect %}
                {% endfor %}
                </tbody>
            </table>
            {% if unregistered is not defined %}
                <p class="text-primary mt-2">En cas d'égalité, les candidats sont départagés par le nombre de perfects.
                    Cliquez sur les noms pour avoir les détails des paris.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}