{% extends ('ServiceJFChallengeDLBundle::layout.html.twig') %}

{% block body_subtitle %}
    les résultats
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-md-6" id="ranking">
                <div class="card card-body">
                    {% if points == 0 %}
                        <h3 class="dl-title py-1 my-0">Aucune personnalité n'est encore décédée, pas de classement
                            général à
                            proposer.</h3>
                    {% else %}
                        <h3 class="dl-title border border-primary border-top-0 border-left-0 border-right-0">
                            Classement général
                        </h3>
                        {% set previousPoints = null %}
                        <table class="table table-responsive-md table-sm mt-2">
                            <tbody>
                            {% for player in ranking %}
                                <tr class="bg-primary text-light">
                                    <td id="rank">
                                        {% if loop.index == 1 %}
                                            {{ loop.index }}.
                                        {% elseif previousPoints == player.points %}
                                            &nbsp;
                                        {% else %}
                                            {{ loop.index }}.
                                        {% endif %}
                                    </td>
                                    <td id="name">
                                        {{ player.better.surname }} {{ player.better.name }}</td>
                                    <td id="points">{% if player.points == null %}
                                            0 point
                                        {% else %}
                                            {{ player.points }} points
                                        {% endif %}</td>
                                </tr>
                                {% set previousPoints = player.points %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6" id="players">
                {% for player in players %}
                    <div class="card mb-2">
                        <div class="card-header">
                            <h5 class="ci-user mb-0">
                                {{ player.better.surname }} {{ player.better.name }}
                            </h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-inline">
                                {% for bet in player.bets %}
                                    <li class="list-inline-item{% if bet.joker == 1 %} dl-joker{% endif %}">
                                        <span{% if bet.personality.dead == 1 %} class="dl-dead"{% endif %}>{{ bet.personality.surname }} {{ bet.personality.name }}</span>
                                        {% if bet.personality.dead == 1 %}
                                            <span class="small">
                                        {% if bet.joker == 1 %}
                                            ({{ (100 - bet.personality.age)*2 }} points)
                                        {% else %}
                                            ({{ 100 - bet.personality.age }} points)
                                        {% endif %}
                                        </span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}