{% extends 'ServiceJFChallengeCHBundle::layout.html.twig' %}

{% block body_subtitle %}
{{ player.user.surname }} {{ player.user.name }}
{% endblock %}

{% block body_content %}
    <div class="container">
    <div class="row mb-4 mt-3">
        <div class="col-md-2 col-12 mb-4 mb-md-0">
            <a class="btn btn-primary btn-block text-light" href={{ path('servicejf_challengech_generalRanking') }}><i
                        class="fas fa-chevron-left"></i> classement</a>
        </div>
        <div class="col-md-10 col-12">
            <div class="d-flex justify-content-between border border-primary border-top-0 border-right-0 border-left-0">
                <h4 class="cm18-title">{% transchoice player.perfects %}{0} 0 perfect|{1} 1 perfect|]1,Inf] %count% perfects{% endtranschoice %}</h4>
                <h4 class="cm18-title">{% transchoice player.points %}{0} 0 point|{1} 1 point|]1,Inf] %count% points{% endtranschoice %}</h4>
            </div>
            <table class="table table-responsive-md table-sm mt-2">
                <thead>
                <tr class="bg-secondary text-light text-center">
                    <th></th>
                    <th>Score</th>
                    <th>Pronostic</th>
                    <th>Résultat</th>
                    <th>Ecart</th>
                    <th>Perfect</th>
                    <th>Total</th>
                </tr>
                </thead>
                {% for game in games %}
                    <tr class="bg-primary text-light">
                        <td>{{ game.teamHome.name }} - {{ game.teamAway.name }}</td>
                        <td class="text-center">{{ game.scoreHome }} - {{ game.scoreAway }}</td>
                        {{ render(controller('ServiceJFChallengeCHBundle:Ranking:betDetail', { 'game' : game, 'player' : player } )) }}
                    </tr>
                {% else %}
                    <tr>
                        <td>Aucun pari enregistré par ce joueur.</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
{% endblock %}