{% extends 'ServiceJFAdminBundle::layout.html.twig' %}

{% block body_subtitle %}
    mondial 2018
{% endblock %}

{% block body_content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <h3 class="text-primary mb-0 cm18-h4">Les joueurs déjà inscrits<br/></h3>
                <hr class="border-primary mt-0">
                <ul class="list-unstyled">
                    {% for player in players %}
                        <li class="list-item">
                            {{ player.surname }} {{ player.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-8">
                <h3 class="cm18-h4 text-primary mb-0">Ajouter un joueur</h3>
                <hr class="border-primary mt-0">
                {{ form_start(form) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.username) }}
                {{ form_row(form.plainPassword) }}
                <div class="mt2" align="right">
                    {{ form_rest(form) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}